.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}
.tableContainer {
  width: 100%;
  max-width: 60rem;
  max-height: 15rem;
  overflow-y: auto;
  overflow-x: auto;
}

.tableContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tableContainer::-webkit-scrollbar-track {
  border-radius: 4px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #170d0d;
  border-radius: 4px;
}

[data-theme="light"] .table {
  color: black;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  font-family: "Open sans";
  color: white;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
[data-theme="light"] .table thead {
  background: rgb(223, 223, 223);
  color: black;
}

.table thead {
  background-color: #121213;
  color: #ffffff;
  position: sticky;
  top: 0rem;
  z-index: 1;
}

.table thead th {
  padding: 1rem;
  text-align: left;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #cacdcf;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td {
  word-break: break-word;
}
.countValues {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
  font-family: "Open sans";
}
[data-theme="light"] .value,
[data-theme="light"] .rate {
  background: white;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.1);
  color: black;
}
.value {
  background: #323232;
  width: 8rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}
.value p,
span {
  font-size: 1.2rem;
  font-weight: 600;
}

.pieChartContainer {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  padding: 4rem 12rem;
  align-items: center;
  gap: 8rem;
  font-family: "Open sans";
}

.rate {
  background: #2b2a2a;
  width: 11rem;
  height: 5rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
}
.chartContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  width: 21rem;
  position: relative;
}
.pieChart {
  display: flex;
  width: 14rem;
  cursor: pointer;
}
[data-theme="light"] .submission {
  color: black;
}
.submission {
  position: absolute;
  top: 4rem;
  right: 0;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-family: "Open sans";
}

[data-theme="light"] .noResponses {
  color: black;
}
.noResponses {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #323232;
  text-transform: capitalize;
  font-family: "Open sans";
}
