* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.formContainer {
  background: #000;
  width: 100%;
  min-height: 100vh;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;

  padding-bottom: 4rem;
}
.formTypes {
  margin-top: 4rem;
  z-index: 1;
}

.image1,
.image2,
.image3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}
.image1 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  bottom: 0;
  right: 20rem;
}
.image2 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  right: 0;
  top: 8rem;
}

.image3 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 2rem;
  bottom: 12rem;
}

@media (max-width: 768px) {
  .icon {
    display: none;
  }
  .image1,
  .image2,
  .image3 {
    display: none;
  }
}
