/* Default Light Mode */

.homepage {
  width: 100%;
  height: 100vh;
  background: #18181b;
  color: white;
  font-family: "Open Sans", serif;
}

[data-theme="light"] .homepage {
  background: white;
  color: black;
}
.navbar {
  padding: 1rem;
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.dropdown {
  width: 16rem;
  position: relative;
}

.dropdownButton {
  width: 100%;
  background: #18181b;
  border-radius: 0.5rem 0.5rem 0 0rem;
  border: 1px solid #3d3d3f;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px 6px rgba(17, 17, 26, 0.08);
}

.dropdownButton.open {
  background-color: #1d1d1d !important;
}

[data-theme="light"] .dropdownMenu {
  background: white;
  border-bottom: 1px solid gray;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  border: 1px solid #3d3d3f;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.5rem 0;
  z-index: 1000;
  box-shadow: 0px 0px 20px 6px rgba(17, 17, 26, 0.08);
}

[data-theme="light"] .dropdownItem,
[data-theme="light"] .settings,
[data-theme="light"] .logout {
  color: black;
  background: rgb(255, 253, 253);
}
.dropdownItem,
.settings,
.logout {
  color: white;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #3d3d3f;
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.settings {
  font-size: 0.9rem;
}

[data-theme="light"] .logout {
  color: #fd8915;
}
.logout {
  color: #ffa54c;
  border-bottom: none;
}
.theme {
  position: absolute;
  right: 14rem;
  top: 1.5rem;
}
.shareBtn {
  position: absolute;
  right: 4rem;
  border: none;
  background: #1a5fff;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 6rem;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}
.icon {
  font-size: 1.3rem;
}
.closeBtn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.close {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-theme="light"] .shareSection {
  background: white;
  border: gray;
}
.shareSection {
  border: 1px solid #3d3d3f;
  width: 36rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 3.8px 0px #ffffff40;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #18181b;
}

.Options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
}
.select {
  background: #18181b;
  color: white;
  border: none;
  width: 6rem;
  outline: none;
  border-radius: none;
}
[data-theme="light"] .select {
  background: white;
  color: black;
  font-weight: 600;
}
[data-theme="light"] .select .option {
  background: white;
}
.select option {
  background: #1f1f23;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border: 1px solid #3d3d3f;
}
.select option:checked {
  background-color: #1f1f23;
  color: white;
}
[data-theme="light"] .input {
  background: white;
  border: 1px solid gray;
  color: black;
}
.input {
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  text-align: start;
  background: #1f1f23;
  outline: none;
  color: white;
  border: none;
  font-size: 1rem;
}

.input::placeholder {
  color: #a1a1a1;
}

.inviteBtn {
  background: #1a5fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  color: #fff;
  cursor: pointer;
}

.folders {
  padding: 6rem 0 12rem 12rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.openFolder {
  position: absolute;
  top: 12rem;
  left: 24rem;
  margin: 0;
  padding: 2rem 1.5rem;
  border: 1px solid #47474a;
  border-radius: 0.5rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  color: white;
  background: #18181b;
  box-shadow: 0px 0px 3.8px 0px #ffffff40;
  z-index: 9;
}
[data-theme="light"] .openFolder,
[data-theme="light"] .folderName {
  background: white;
  color: black;
  border: 1px solid gray;
  box-shadow: 0px 0px 3.8px 0px #ffffff40;
  font-weight: 500;
}
.openFolder p {
  font-size: 1.5rem;
}
.openFolder .heading {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}

.folderName {
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: #1f1f23;
  color: white;
  font-size: 1rem;
}

.folderName::placeholder {
  color: #3d3d3f;
  font-weight: 600;
  font-size: 1rem;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons p {
  font-size: 3rem;
  color: #3d3d3f;
}
.createBtn,
.cancel {
  border: none;
  background: transparent;
  font-size: 1.4rem;
  font-weight: 500;
  color: #4b83ff;
  cursor: pointer;
}
[data-theme="light"] .cancel {
  color: black;
}
.cancel {
  color: white;
}
