.folders {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  padding-right: 2rem;
  justify-content: start;
}
[data-theme="light"] .createFolder,
[data-theme="light"] .folder {
  border: 1px solid gray;
  background: white;
  color: black;
  box-shadow: 0px 0px 20px 6px rgba(17, 17, 26, 0.08);
}
.createFolder {
  width: 14rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #252525;
  border-radius: 0.25rem;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
}
.noFolders {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 2rem;
  z-index: 0;
}
.folder {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  background: #252525;
  border-radius: 0.25rem;
  color: whitesmoke;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.folder.active {
  background: white;
  color: black;
}
[data-theme="light"] .folder.active {
  background: black;
  color: white;
}

.delete {
  font-size: 1.2rem;
  color: red;
}
