.forms {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  padding-right: 2rem;
  justify-content: start;
}
[data-theme="light"] .createFolder,
[data-theme="light"] .folder {
  border: 1px solid gray;
  background: white;
  color: black;
  box-shadow: 0px 0px 20px 6px rgba(17, 17, 26, 0.08);
}
.createForm,
.form {
  background: #1a5fff;
  color: white;
  width: 12rem;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border: none;
  font-size: 1.1rem;
  font-family: "Open sans";
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.icon {
  font-size: 2rem;
}
.noFolders {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 2rem;
  z-index: 0;
}
[data-theme="light"] .form {
  background: rgb(217, 214, 214);
  color: black;
}
.form {
  padding: 0 0.5rem;
  font-size: 1rem;
  background: #313030;
  position: relative;
  font-family: "Open sans";
}
.formname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
}
.delete {
  position: absolute;
  top: -0.8rem;
  right: -0.5rem;
  font-size: 1.6rem;
  color: red;
}
